<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onekey">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SettingsActivity"
            android:exported="true"
            android:label="Autofill Settings"
            android:taskAffinity=".SettingsActivity">
        </activity>

        <service
            android:name=".MyAutofillService"
            android:label="OneKey"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE">
            <meta-data
                android:name="android.autofill"
                android:resource="@xml/autofill_service" />

            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>
        </service>

        <activity
            android:name=".ViewEditNotes"
            android:label="Edit Note"
            android:parentActivityName=".HomePage"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.onekey.HomePage" />
        </activity>
        <activity
            android:name=".ViewEditPassword"
            android:label="View Password"
            android:parentActivityName=".HomePage"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.onekey.HomePage" />
        </activity>
        <activity
            android:name=".AddNotes"
            android:label="Add Note"
            android:parentActivityName=".HomePage"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.onekey.HomePage" />
        </activity>
        <activity
            android:name=".AddPassword"
            android:label="Add Password"
            android:parentActivityName=".HomePage"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.onekey.HomePage" />
        </activity>
        <activity
            android:name=".SignedIn"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomePage"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name=".SignUp"
            android:label="@string/sign_up"
            android:parentActivityName=".Welcome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.onekey.Welcome" />
        </activity>

        <activity
            android:name=".SignIn"
            android:label="@string/sign_in"
            android:parentActivityName=".Welcome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.onekey.Welcome" />
        </activity>

        <activity
            android:name=".Splash"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Welcome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>